- name: Add automation tools repo dir to git safe.directory
  ansible.builtin.import_tasks: tg-git-add-safe-dir.yml
  vars:
    __repo_full_path: "{{ [amr_src_path_base, 'automation-tools-%1d' | format(item)] | ansible.builtin.path_join }}"

- name: "Checkout automation tools code"
  ansible.builtin.git:
    repo: "{{ amr_autom_tools_repo }}"
    dest: "{{ [amr_src_path_base, 'automation-tools-%1d' | format(item)] | ansible.builtin.path_join }}"
    version: "{{ amr_autom_tools_version }}"
    force: true
    accept_hostkey: true

- name: "Ensure the source code is readable by all"
  ansible.builtin.file:
    path: "{{ [amr_src_path_base, 'automation-tools-%1d' | format(item)] | ansible.builtin.path_join }}"
    mode: "o+rX"
    recurse: "yes"
