###########################################################
#   Clone source repo related tasks
###########################################################

- name: Add automation tools repo dir to git safe.directory
  ansible.builtin.import_tasks: tg-git-add-safe-dir.yml
  vars:
    __repo_full_path: "{{ [amr_src_path_base, 'automation-tools'] | ansible.builtin.path_join }}"

- name: "Checkout automation tools code"
  ansible.builtin.git:
    repo: "{{ amr_autom_tools_repo }}"
    dest: "{{ [amr_src_path_base, 'automation-tools'] | ansible.builtin.path_join }}"
    version: "{{ amr_autom_tools_version }}"
    force: true
    accept_hostkey: true

- name: "Ensure the source code is readable by all"
  ansible.builtin.file:
    path: "{{ [amr_src_path_base, 'automation-tools'] | ansible.builtin.path_join }}"
    mode: "o+rX"
    recurse: "yes"

###########################################################
#   Clone source repo related tasks (additional instances)
###########################################################

- name: Clone source repo related tasks (additional instances)
  loop: "{{ range(2, amr_autom_tools_instances | int + 1) }}"
  when: amr_autom_tools_instances > 1
  include_tasks: autom-tools-addit-clone.yml

###########################################################
#   Virtualenv related tasks
###########################################################

- name: Create Storage Service virtualenv
  ansible.builtin.import_tasks: tg-create-virtualenv.yml
  vars:
    __virtualenv_path: "{{ [amr_virtualenv_path_base, 'automation-tools'] | ansible.builtin.path_join }}"
    __requirements_path: "{{ [amr_src_path_base, 'automation-tools'] | ansible.builtin.path_join }}"


###########################################################
#   Directory creation 
###########################################################

- name: Create directories for logs/database/PID files
  ansible.builtin.file:
    dest: "{{ item }}"
    state: directory
    owner: archivematica
    group: archivematica
    mode: "0755"
  loop:
    - /var/log/archivematica/automation-tools
    - /var/archivematica/automation-tools

- name: Create etc directory for automation tools
  ansible.builtin.file:
    dest: /etc/archivematica/automation-tools
    state: directory
    mode: "0755"

###########################################################
#   Directory creation (addditional instances)
###########################################################

- name: Directory creation and config files (addditional instances)
  loop: "{{ range(2, amr_autom_tools_instances | int + 1) }}"
  when: amr_autom_tools_instances > 1
  include_tasks: autom-tools-addit-dirs.yml

###########################################################
#   Scripts and config files
###########################################################

- name: Create automation tools script(s) and config file(s)
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: "{{ item.mode }}"
    owner: root
    backup: true
  loop: "{{ amr_autom_tools_scripts }}"

###########################################################
#   Scripts and config files (additional instances)
###########################################################

- name: Scripts and config files (additional instances)
  loop: "{{ range(2, amr_autom_tools_instances | int + 1) }}"
  when: amr_autom_tools_instances > 1
  loop_control:
    loop_var: __amr_instance 
  include_tasks: autom-tools-addit-scripts.yml

###########################################################
#   pre-transfer scripts
###########################################################

- name: Add files to transfers/pre-transfer/
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    mode: "{{ item.mode }}"
    owner: root
    backup: true
  loop: "{{ amr_autom_tools_transfers_pre_transfer_files }}"
  when: amr_autom_tools_transfers_pre_transfer_files is defined

###########################################################
#   processing config symlinks
###########################################################

- name: Add processing configuration symlink to transfers/pre-transfer/
  ansible.builtin.file:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    state: link
    owner: archivematica
    group: archivematica
  loop: "{{ amr_autom_tools_transfers_symlink_processingmcp }}"
  when: amr_autom_tools_transfers_symlink_processingmcp is defined

###########################################################
#   cron setup
###########################################################

- name: Set up automation tools cron file
  cron:
     cron_file: "automation-tools"      # file will be created in /etc/cron.d/
     name: "Run automation tools script"
     job: "{{ amr_autom_tools_cron.job }}"
     minute: "{{ amr_autom_tools_cron.minute }}"
     hour: "{{ amr_autom_tools_cron.hour }}"
     day: "{{ amr_autom_tools_cron.day }}"
     month: "{{ amr_autom_tools_cron.month }}"
     weekday: "{{ amr_autom_tools_cron.weekday }}"
     user: "{{ amr_autom_tools_cron.user }}"
  when: 
    - amr_autom_tools_setup_cron | bool
  tags:
    - am-autom-tools-cron

- name: Set up SHELL env var in automation tools cron file
  cron:
     cron_file: "automation-tools"
     user: "{{ amr_autom_tools_cron.user }}"
     env: true
     name: "SHELL"
     value: "/bin/bash"
  when: 
    - amr_autom_tools_setup_cron | bool
  tags:
    - am-autom-tools-cron

###########################################################
#   cron setup (additional instances)
###########################################################

- name: Cron setup (additional instances)
  loop: "{{ range(2, amr_autom_tools_instances | int + 1) }}"
  when: 
    - amr_autom_tools_instances > 1
    - amr_autom_tools_setup_cron | bool
  loop_control:
    loop_var: __amr_instance
  cron:
      cron_file: "automation-tools-{{ __amr_instance }}"      # file will be created in /etc/cron.d/
      name: "Run automation tools script instance {{ __amr_instance }}"
      job: "{{ amr_autom_tools_cron_addit[__amr_instance].job }}"
      minute: "{{ amr_autom_tools_cron_addit[__amr_instance].minute }}"
      hour: "{{ amr_autom_tools_cron_addit[__amr_instance].hour }}"
      day: "{{ amr_autom_tools_cron_addit[__amr_instance].day }}"
      month: "{{ amr_autom_tools_cron_addit[__amr_instance].month }}"
      weekday: "{{ amr_autom_tools_cron_addit[__amr_instance].weekday }}"
      user: "{{ amr_autom_tools_cron_addit[__amr_instance].user }}"
  tags:
    - am-autom-tools-cron
- name: Set up SHELL env var in automation tools cron file (additional instances)
  loop: "{{ range(2, amr_autom_tools_instances | int + 1) }}"
  when: 
    - amr_autom_tools_instances > 1
    - amr_autom_tools_setup_cron | bool
  loop_control:
    loop_var: __amr_instance
  cron:
      cron_file: "automation-tools-{{ __amr_instance }}"
      user: "{{ amr_autom_tools_cron_addit[__amr_instance].user }}"
      env: true
      name: "SHELL"
      value: "/bin/bash"
  tags:
    - am-autom-tools-cron
