---
# tasks file for ansible-am

- name: Include common variable config tasks
  ansible.builtin.import_tasks: common-vars.yml
  tags:
    - am-ss
    - am-ss-code
    - am-ss-db-migrate
    - am-ss-svc-config
    - am-pipeline
    - am-pipeline-code
    - am-pipeline-db-migrate
    - am-pipeline-svc-config
    - am-autom-tools
    - am-fixity
    - am-fixity-scripts

- name: Include common installation tasks 
  ansible.builtin.import_tasks: common-inst.yml
  when: amr_install_ss|bool or amr_install_pipeline|bool

- name: Include Storage Service tasks 
  ansible.builtin.import_tasks: ss.yml
  when:
    - amr_install_ss|bool
  tags:
    - am-ss

- name: Include pipeline tasks 
  ansible.builtin.import_tasks: pipeline.yml
  when:
    - amr_install_pipeline|bool
  tags:
    - am-pipeline

- name: Include configuration tasks 
  ansible.builtin.import_tasks: configure.yml
  when:
    - amr_configure_ss|bool or amr_configure_dashboard|bool

- name: Include sampledata tasks 
  ansible.builtin.import_tasks: sampledata.yml
  when:
    - amr_install_sampledata|bool
  tags:
    - am-sampledata

- name: Include automation tools tasks
  ansible.builtin.import_tasks: autom-tools.yml
  when:
    - amr_install_autom_tools|bool
  tags:
    - am-autom-tools

- name: Include fixity tasks
  ansible.builtin.import_tasks: fixity.yml
  when:
    - amr_install_fixity|bool
  tags:
    - am-fixity
