# automation-tools:transfers configuration file

[transfers]
logfile = /var/log/archivematica/automation-tools-{{ __amr_instance }}/transfers.log
databasefile = /var/archivematica/automation-tools-{{ __amr_instance }}/transfers.db
pidfile = /var/archivematica/automation-tools-{{ __amr_instance }}/transfers-pid.lck
scriptextensions = .py:.sh
